domain = "your-mastodon.site"
owner_email = "user@host.com"

# This name will must globally unique, and will be visible to users as a hostname.
# terraform will create and manage it for you.
# no dots or underscores
bucket_name = "your-mastodon"
region = "us-west-2"
